#lista_especialidades .row div .single-defination .btn_content{width:100%;text-align:center;cursor: pointer;}
#lista_especialidades .row div .especialidades_horarios{ margin-bottom: 20px; }

.modal a.close-modal {  
  z-index: 999;
  background-image: url('../images/icons/close.png');
  top:0;
  right: 10px;
  width: 12px;   
}

#seletor_exames{
	font-size: 18px;
}

.pointer{
	cursor: pointer;
}

.nome_profissional{
	font-weight:bold;
}
.especialidades_horarios{
	margin-bottom: 15px;
}

.temp_modal{
	overflow: auto;
	max-height: 300px;
}

.temp_modal::-webkit-scrollbar-track{
	background-color: #F4F4F4;
	border-radius: 50px;
}
.temp_modal::-webkit-scrollbar{
	width: 10px;			
	background: #F4F4F4;
	border-radius: 50px;
}
.temp_modal::-webkit-scrollbar-thumb{
	background: #dad7d7;
	border-radius: 50px;
}
.nice-select{
	width: 100%;	
	font-size: 18px;
}
.nice-select ul li{
	font-size: 15px !important;
	color: #222222;
}

@media screen and (max-width: 767px){
	.div_seletor_exames_mobile{
		display: block !important;
	}

	.div_seletor_exames_desktop{
		display: none !important;
	}
	#header #logo img{
		max-height: 80px !important;
	}
	#mobile-nav-toggle{
		top:31px !important;
	}

}
.conteudos_exames{
		padding-top: 0px !important;
	}
@media screen and (min-width: 768px){
	.div_seletor_exames_mobile{
		display: none !important;
	}

	.div_seletor_exames_desktop{
		display: block !important;
	}
}

.select_exames{
	color: #38a4ff !important;
	border: 1px solid #38a4ff !important;
	background: #fff !important;
}
}
.div_seletor_exames_mobile{
	margin-bottom: 20px !important ;
}
#seletor_exames .nice-select{
	color: #38a4ff !important;
	border: 1px solid #38a4ff !important;
	background: #fff !important;

}

.default-select .nice-select .list .option.selected{
	color:#38a4ff;
}
b{
	color: #222222;
}